<html>
    <head>
       <title>Dojo Survey</title>
    </head>
    <body>
        <div id='wrapper'>
            <div class='box'>
                <form action='/create' method='POST'>
                    {% csrf_token %}
                    <div class="dojoform">Name: <input type='text' name='name'></div>
                    <div class="dojoform">Dojo Location: <select name='location'>
                                        <option value="san jose">San Jose</option>
                                        <option value="seattle">Seattle</option>
                                        <option value="los angeles">Los Angeles</option>
                                        <option value="dallas">Dallas</option>
                                        <option value="washington dc">Washington DC</option>
                                        <option value="chicago">Chicago</option>
                                    </select></div>
                    <div class="dojoform">Favorite Language: <select name='language'>
                                        <option value="python">Python</option>
                                        <option value="javascript">JavaScript</option>
                                        <option value="ruby">Ruby</option>
                                    </select></div>
                    <div class="dojoform" width='8' length='40'>Comment (optional): <input type='text' name='comment'></div>
                    <input type='submit' value='Submit'>
                </form>
            </div>
        </div>
    </body>
</html>
